#!/usr/bin/env bash

# move to the docker directory
cd {{ work_dir }}/docker

# # set the local tempdir needed by docker-compose
# export TMPDIR={{ work_dir }}/data/docker/temp

# Load the environment with the list of compose files
. ./setComposeList.sh

# stop compose
docker-compose stop

# request main certificate
docker run -it --rm -p 443:443 -p 80:80 --name letsencrypt \
-v "/etc/letsencrypt:/etc/letsencrypt" \
-v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
certbot/certbot:latest certonly --standalone --text --agree-tos --server \
https://acme-v01.api.letsencrypt.org/directory  --rsa-key-size 4096 --verbose -m jean-marc@meessen-web.org \
--renew-by-default --non-interactive -d www.the-captains-shack.com

# request gogs certificate
docker run -it --rm -p 443:443 -p 80:80 --name letsencrypt \
-v "/etc/letsencrypt:/etc/letsencrypt" \
-v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
certbot/certbot:latest certonly --standalone --text --agree-tos --server \
https://acme-v01.api.letsencrypt.org/directory  --rsa-key-size 4096 --verbose -m jean-marc@meessen-web.org \
--renew-by-default --non-interactive -d git.the-captains-shack.com

# request ci certificate
docker run -it --rm -p 443:443 -p 80:80 --name letsencrypt \
-v "/etc/letsencrypt:/etc/letsencrypt" \
-v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
certbot/certbot:latest certonly --standalone --text --agree-tos --server \
https://acme-v01.api.letsencrypt.org/directory  --rsa-key-size 4096 --verbose -m jean-marc@meessen-web.org \
--renew-by-default --non-interactive -d ci.the-captains-shack.com

# request nexus certificate
#docker run -it --rm -p 443:443 -p 80:80 --name letsencrypt \
#-v "/etc/letsencrypt:/etc/letsencrypt" \
#-v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
#certbot/certbot:latest certonly --standalone --text --agree-tos --server \
#https://acme-v01.api.letsencrypt.org/directory  --rsa-key-size 4096 --verbose -m jean-marc@meessen-web.org \
#--renew-by-default --non-interactive -d nexus.the-captains-shack.com

# # request LimeSurvey certificate
# docker run -it --rm -p 443:443 -p 80:80 --name letsencrypt \
# -v "/etc/letsencrypt:/etc/letsencrypt" \
# -v "/var/lib/letsencrypt:/var/lib/letsencrypt" \
# certbot/certbot:latest certonly --standalone --text --agree-tos --server \
# https://acme-v01.api.letsencrypt.org/directory  --rsa-key-size 4096 --verbose -m jean-marc@meessen-web.org \
# --renew-by-default --non-interactive -d survey.the-captains-shack.com

# COPY certificates
sudo cp -R -L -v /etc/letsencrypt/live/* {{ work_dir }}/nginx/conf/ssl/

# restart services
docker-compose up -d