version: '2'

#test
services:

  web:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - hugo_out:/usr/share/nginx/html:ro
      - {{ work_dir }}/nginx/conf:/etc/nginx:ro
      - logVolume:/var/log/nginx/
    links:
      - gogs
    depends_on:
      - hugo
      - jenkins
      - nexus
    restart: unless-stopped

  gogs:
    image: gogs/gogs:latest
    ports:
      - "10022:22"
      - "10080:3000"
    volumes:
      - {{ work_dir }}/gogs:/data
    restart: unless-stopped


  hugo:
    build: ./hugo-dockerfile
    volumes:
      - hugo_src:/src
      - hugo_out:/output
    environment:
      #- HUGO_WATCH=true
      - HUGO_REFRESH_TIME=3600
      - HUGO_THEME=casper
      - HUGO_BASEURL=https://www.the-captains-shack.com
    restart: unless-stopped

  jenkins:
    build: ./jenkins-dockerfile
    environment:
      - JENKINS_OPTS=--httpPort=8080
      - JENKINS_SLAVE_AGENT_PORT=50000
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    volumes:
      - jenkins2-data:/var/jenkins_home
      - {{ work_dir }}/ci/ssh-keys:/ssh-keys
    env_file:
      - {{ work_dir }}/ci/GitHub_OAuth_IDs.env
    restart: unless-stopped

  ssh-agent:
    image: jenkinsci/ssh-slave
    env_file:
      - {{ work_dir }}/ci/ssh-keys/slave-keys.env

  nexus:
    image: sonatype/nexus3
    ports:
      - "8081:8081"
    volumes:
      - nexus-data:/nexus-data

#  limesurvey:
#    ports:
#      - "8082:80"
#    volumes:
#      - lime_mysql:/var/lib/mysql
#      - lime_upload:/app/upload
#    image:
#      crramirez/limesurvey:latest

volumes:
  logVolume:
    external: true

  hugo_src:
    driver: local

  hugo_out:
    driver: local

  jenkins2-data:
    driver: local

  nexus-data:
    driver: local

  jenkins-keys:
    driver: local

  lime_mysql:
    driver: local
  lime_upload:
    driver: local
