version: '2'

services:

  web:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - hugo_out:/usr/share/nginx/html:ro
      - {{ work_dir }}/nginx/conf:/etc/nginx:ro
      - logVolume:/var/log/nginx/
    links:
      - gogs
    depends_on:
      - hugo
      - jenkins
      - nexus
    restart: unless-stopped

  gogs:
    image: gogs/gogs:latest
    ports:
      - "10022:22"
      - "10080:3000"
    volumes:
      - {{ work_dir }}/gogs:/data
    restart: unless-stopped


  hugo:
    build: ./hugo-dockerfile
    volumes:
      - hugo_src:/src
      - hugo_out:/output
    environment:
      #- HUGO_WATCH=true
      - HUGO_REFRESH_TIME=3600
      - HUGO_THEME=casper
      - HUGO_BASEURL=https://www.the-captains-shack.com
    restart: unless-stopped

  jenkins:
    build: ./jenkins-dockerfile
    environment:
      - JENKINS_OPTS=--httpPort=8080
      - JENKINS_SLAVE_AGENT_PORT=50000
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    volumes:
      - jenkins2-data:/var/jenkins_home
      - jenkins-keys:/ssh-keys
    env_file:
      - {{ work_dir }}/ci/GitHub_OAuth_IDs.env
    restart: unless-stopped
    depends_on:
      - ssh-keygen

  ssh-keygen:
    build: ./ssh-keygen-dockerfile
    volumes:
      - jenkins-keys:/ssh-keys

  ssh-agent:
    image: jenkinsci/ssh-slave
    environment:
      - JENKINS_SLAVE_SSH_PUBKEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCjiisr95KxDxxV9knKOm25+R8FGesEOOzJ3dfUzVRqllwKf/3XlGGm88b/5HReSlZ8W1AgdD8HRFyerGay9YpKVNCfu01k2MKtH9fUUHeBu/44l3DqoHz9Kk2Sr2C1fh9SgzDyQRQ762b7NVMx28ONRuO0vU34wl0sqIDYN9L1Flb1C4TW1U2dJb+tC1Z8NDNHGKsOGih57BDDhCvR2j9Z9OewXFIhRHjRkA4Xqel1b/MFnMkD0ijJmJWX1mJiu2rshi1CJXcv86MUH1/zrjW56ZZM4zQodltrcKfic5/Y8h+/Ct+Aod1bmTcimEdCVaFal/AZWhHkD+3kmUkvV3SF root@04cdcac4f748
  nexus:
    image: sonatype/nexus3
    ports:
      - "8081:8081"
    volumes:
      - nexus-data:/nexus-data

volumes:
  logVolume:
    external: true

  hugo_src:
    driver: local

  hugo_out:
    driver: local

  jenkins2-data:
    driver: local

  nexus-data:
    driver: local

  jenkins-keys:
    driver: local
