backup_gogs:
        build: ./docker-s3cmd/
        volumes:
          - {{ work_dir }}/gogs/:/opt/src/
          - /etc/:/opt/ro_etc/:ro
        environment:
          - backup_target_dir=/gogs/
        env_file:
          - S3backup_keys.env
          - backup.env




