#!/usr/bin/env bash

docker build -t jmm/docker_s3cmd:latest docker-s3cmd/

. ./S3backup_keys.env

# get the backuped host
# get the directory backup
# destination  directory

docker run --rm  \
--env aws_key=$aws_key --env aws_secret=$aws_secret \
--env cmd=sync-s3-to-local \
--env SRC_S3=s3://the-captains-shack.com/ns360684.ip-91-121-164.eu/gogs \
-v {{ work_dir }}/:/opt/dest \
jmm/docker_s3cmd:latest
chown -R root:root {{ work_dir }}/gogs

docker run --rm  \
--env aws_key=$aws_key --env aws_secret=$aws_secret \
--env cmd=sync-s3-to-local \
--env SRC_S3=s3://the-captains-shack.com/ns360684.ip-91-121-164.eu/ssl \
-v {{ work_dir }}/nginx/conf/:/opt/dest \
jmm/docker_s3cmd:latest

{{ work_dir }}/docker/restart_web.sh