version: '3'

services:

  limesurvey:
    ports:
      - "8082:80"
    volumes:
      - lime_mysql:/var/lib/mysql
      - lime_upload:/app/upload
    image:
      crramirez/limesurvey:latest

volumes:

  lime_mysql:
    driver: local
  lime_upload:
    driver: local
